.nav-left{
    margin-left: 20%;
}


.nav-right{
    margin-right: 50%;
}

.right-items{
    margin-right: 10%;
}

.items{
    margin-top: 5%;
}

.fa-sticky-note{
    color: rgb(219, 219, 34);
    
}




