.search{
    width: 800px;
    border-radius: 8px;
    text-indent: 5%;
    height: 50px;
    border: 1px gray;
    background-color: lightgray;
    outline: 0;
}

.fa-search { 
    position: absolute;
    top: 26px;
    margin-left: 1%;
    font-size: 15px;
    color: black;
}

.search:focus{
    background-color: white;
    box-shadow: 1px 1px 1px gray;
}


