.note{
    margin-top: 3%;
    width: 25%;
}

.note-header{
    padding-bottom: 0;
}

.note-body{
    padding-top: 0;
    padding-bottom:0;
    margin-top: -5%;
}

.note-footer{
    background-color: white; 
    border: none;
    padding-top: 0;
}

.note-footer-items{
    opacity: 0;
    transition: all 300ms ease-in-out;
    color: black;
}

.note-footer-items:hover{
    opacity: 1;
}

.thumb{
    float:right;
}

.note-card{
    transition: all 300ms ease-in-out;
}

.note-card:hover{
    box-shadow: 0 0 10px darkgray;
}
